.homeContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
        url("https://c4.wallpaperflare.com/wallpaper/398/874/541/champions-league-stadium-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    text-align: center;
}